In [5]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("merged_data.csv")

In [7]:
df

,date,us_pop,alcohol_deaths,alcohol_sales,drug_deaths,homicides,perc_unemp
0,2020-12-01,331750000.0,0.000014,0.000049,0.000024,0.000007,2.019593e-08
1,2020-11-01,331750000.0,0.000013,0.000045,0.000023,0.000007,2.019593e-08
2,2020-10-01,331700000.0,0.000013,0.000049,0.000023,0.000007,2.080193e-08
3,2020-09-01,331630000.0,0.000013,0.000047,0.000023,0.000007,2.382173e-08
4,2020-08-01,331560000.0,0.000013,0.000046,0.000026,0.000007,2.533478e-08
...,...,...,...,...,...,...,...
175,2006-05-01,297870000.0,0.000006,0.000030,0.000011,0.000005,1.544298e-08
176,2006-04-01,297650000.0,0.000006,0.000025,0.000011,0.000005,1.579036e-08
177,2006-03-01,297420000.0,0.000006,0.000027,0.000011,0.000005,1.580257e-08
178,2006-02-01,297220000.0,0.000006,0.000022,0.000010,0.000004,1.614965e-08
179,2006-01-01,296990000.0,0.000007,0.000020,0.000010,0.000005,1.582545e-08